/* line 10, ../../../scss/pages/style-guide.scss */
.swatch {
  margin: 12px;
  margin: 0.75rem;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  padding: 0 15px;
  padding: 0 0.9375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 72px;
  padding: 4.5rem;
  position: relative;
  display: inline-block;
  text-indent: -99999px;
  width: 10px;
  height: 10px;
}

/* line 22, ../../../scss/pages/style-guide.scss */
.color1 {
  background: #333333;
}

/* line 25, ../../../scss/pages/style-guide.scss */
.color2 {
  background: blue;
}

/* line 28, ../../../scss/pages/style-guide.scss */
.color3 {
  background: red;
}
