/* line 12, ../../../scss/pages/style-guide.scss */
section {
  padding: 72px 0;
  padding:  4.5rem 0;
}

/* line 15, ../../../scss/pages/style-guide.scss */
.header {
  background: #333333;
  color: white;
  padding: 24px 0;
  padding:  1.5rem 0;
}

/* line 21, ../../../scss/pages/style-guide.scss */
.type-sample p {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
  margin-bottom: 36px;
  letter-spacing: 0.1em;
}

/* line 29, ../../../scss/pages/style-guide.scss */
.grids .container hr {
  clear: both;
}
/* line 32, ../../../scss/pages/style-guide.scss */
.grids .container div {
  margin-bottom: 24px;
  height: 240px;
  float: left;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 38, ../../../scss/pages/style-guide.scss */
.grids .container div span {
  display: block;
  width: 100%;
  height: 240px;
}

/* line 53, ../../../scss/pages/style-guide.scss */
.primary * {
  font-family: "Helvetica Neue", sans-serif;
}

/* line 56, ../../../scss/pages/style-guide.scss */
.secondary * {
  font-family: Georgia, serif;
}

/* line 61, ../../../scss/pages/style-guide.scss */
.swatch {
  margin: 12px;
  margin: 0.75rem;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 72px;
  padding: 4.5rem;
  position: relative;
  display: inline-block;
  text-indent: -99999px;
  width: 10px;
  height: 10px;
}

/* line 72, ../../../scss/pages/style-guide.scss */
.color1 {
  background: #333333;
}

/* line 75, ../../../scss/pages/style-guide.scss */
.color2 {
  background: blue;
}

/* line 78, ../../../scss/pages/style-guide.scss */
.color3 {
  background: red;
}

/* line 83, ../../../scss/pages/style-guide.scss */
.grids span {
  background: #cccccc;
}

/* line 86, ../../../scss/pages/style-guide.scss */
.three {
  width: 33.33333%;
}

/* line 89, ../../../scss/pages/style-guide.scss */
.four {
  width: 25%;
}

/* line 92, ../../../scss/pages/style-guide.scss */
.six {
  width: 16.66667%;
}

/* line 95, ../../../scss/pages/style-guide.scss */
.eight {
  width: 12.5%;
}

/* line 98, ../../../scss/pages/style-guide.scss */
.twelve {
  width: 8.33333%;
}

/* line 101, ../../../scss/pages/style-guide.scss */
.sixteen {
  width: 6.25%;
}

/* line 107, ../../../scss/pages/style-guide.scss */
.folding.six, .folding.twelve {
  display: none;
}
/* line 110, ../../../scss/pages/style-guide.scss */
.folding.three {
  display: block !important;
  width: 33.33333%;
}

@media only screen and (min-width: 49em) {
  /* line 118, ../../../scss/pages/style-guide.scss */
  .folding.twelve {
    display: none;
  }
  /* line 121, ../../../scss/pages/style-guide.scss */
  .folding.six {
    display: block;
    width: 16.66667%;
  }
}
@media only screen and (min-width: 80em) {
  /* line 129, ../../../scss/pages/style-guide.scss */
  .folding.twelve {
    display: block;
    width: 8.33333%;
  }
}
