/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 6, ../../scss/global/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 7, ../../scss/global/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 8, ../../scss/global/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 9, ../../scss/global/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* line 16, ../../scss/global/_normalize.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 23, ../../scss/global/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

/* line 31, ../../scss/global/_normalize.scss */
body {
  min-height: 100%;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/* line 39, ../../scss/global/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 40, ../../scss/global/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 42, ../../scss/global/_normalize.scss */
figure img {
  max-width: 100%;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 52, ../../scss/global/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../../scss/global/_normalize.scss */
td {
  vertical-align: top;
}

/* =============================================================================
   Font Embeds
   ========================================================================== */
/* line 4, ../../scss/ui/_typography.scss */
body {
  font-family: Georgia, serif;
  color: #333333;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 19, ../../scss/ui/_typography.scss */
h1 {
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 1.2;
}

/* line 22, ../../scss/ui/_typography.scss */
h2 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.16667;
}

/* line 25, ../../scss/ui/_typography.scss */
h3 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.6;
}

/* line 28, ../../scss/ui/_typography.scss */
h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* line 31, ../../scss/ui/_typography.scss */
h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
}

/* line 34, ../../scss/ui/_typography.scss */
h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 44, ../../scss/ui/_typography.scss */
p,
ul,
ol {
  margin-bottom: 12px;
}

/* line 48, ../../scss/ui/_typography.scss */
small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.28571;
}

/* line 52, ../../scss/ui/_typography.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid #333333;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 59, ../../scss/ui/_typography.scss */
strong {
  font-weight: 700;
}

/* line 63, ../../scss/ui/_typography.scss */
a {
  text-decoration: none;
}

/* line 75, ../../scss/ui/_typography.scss */
sup {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  bottom: .5ex;
}

/* line 96, ../../scss/ui/_typography.scss */
.wf-loading p,
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading li,
.wf-loading dt,
.wf-loading dd,
.wf-loading td,
.wf-loading th,
.wf-loading small {
  visibility: hidden;
}

/* line 1, ../../scss/ui/_tables.scss */
table {
  margin-bottom: 24px;
  width: 100%;
}

/* line 8, ../../scss/ui/_forms.scss */
label.error,
legend.error {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 14, ../../scss/ui/_forms.scss */
label.error.block,
legend.error.block {
  display: block;
}

/* line 18, ../../scss/ui/_forms.scss */
.field {
  clear: both;
  position: relative;
  padding: 0 15px;
  padding: 0 0.9375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 36, ../../scss/ui/_forms.scss */
input[type="text"], textarea,
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="datetime-local"],
input[type="number"],
input[type="color"] {
  border: 1px solid #333333;
  display: block;
  outline: 0;
  width: 100%;
}

/* line 47, ../../scss/ui/_forms.scss */
textarea {
  height: auto;
  min-height: 240px;
}

/* line 60, ../../scss/ui/_forms.scss */
button,
.button,
a.button:link,
a.button:visited {
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

/* line 3, ../../scss/ui/_animation.scss */
a,
button,
.logo {
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
}
