/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 6, ../../scss/global/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 7, ../../scss/global/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 8, ../../scss/global/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 9, ../../scss/global/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* line 16, ../../scss/global/_normalize.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 23, ../../scss/global/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

/* line 31, ../../scss/global/_normalize.scss */
body {
  min-height: 100%;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/* line 39, ../../scss/global/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 40, ../../scss/global/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 42, ../../scss/global/_normalize.scss */
figure img {
  max-width: 100%;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 52, ../../scss/global/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../../scss/global/_normalize.scss */
td {
  vertical-align: top;
}

/* =============================================================================
   Font Embeds
   ========================================================================== */
/* line 1, ../../scss/global/_layout.scss */
section {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 5, ../../scss/global/_layout.scss */
.container {
  margin: 0 7.14286%;
}

/* line 4, ../../scss/ui/_typography.scss */
body {
  font-family: Georgia, serif;
  color: #333333;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 15, ../../scss/ui/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif;
}

/* line 19, ../../scss/ui/_typography.scss */
h1 {
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 1.2;
}

/* line 22, ../../scss/ui/_typography.scss */
h2 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.16667;
}

/* line 25, ../../scss/ui/_typography.scss */
h3 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
}

/* line 28, ../../scss/ui/_typography.scss */
h4 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.2;
}

/* line 31, ../../scss/ui/_typography.scss */
h5 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
}

/* line 34, ../../scss/ui/_typography.scss */
h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
}

/* line 38, ../../scss/ui/_typography.scss */
.content {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 42, ../../scss/ui/_typography.scss */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 45, ../../scss/ui/_typography.scss */
.lead {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

/* line 49, ../../scss/ui/_typography.scss */
p + p {
  text-indent: 2.5em;
}

/* line 52, ../../scss/ui/_typography.scss */
br + p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 56, ../../scss/ui/_typography.scss */
br + p + p,
.lead + p {
  text-indent: 0;
}

/* line 60, ../../scss/ui/_typography.scss */
strong {
  font-weight: 700;
}

/* line 63, ../../scss/ui/_typography.scss */
em {
  font-style: italic;
}

/* line 66, ../../scss/ui/_typography.scss */
abbr {
  cursor: help;
}
/* line 69, ../../scss/ui/_typography.scss */
abbr.acr {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
}

/* line 73, ../../scss/ui/_typography.scss */
.amp {
  font-style: italic;
}

/* line 76, ../../scss/ui/_typography.scss */
small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.28571;
}

/* line 80, ../../scss/ui/_typography.scss */
figcaption {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
}
/* line 83, ../../scss/ui/_typography.scss */
figcaption .source {
  float: right;
}

/* line 90, ../../scss/ui/_typography.scss */
ul,
ol,
dd {
  margin-bottom: 24px;
}
/* line 94, ../../scss/ui/_typography.scss */
ul ul,
ul ol,
ol ul,
ol ol,
dd ul,
dd ol {
  margin-left: 2em;
  margin-bottom: 0;
}

/* line 99, ../../scss/ui/_typography.scss */
dt {
  font-weight: 700;
}

/* line 104, ../../scss/ui/_typography.scss */
nav ul {
  list-style: none;
}

/* line 109, ../../scss/ui/_typography.scss */
blockquote {
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 0 12px 48px;
  padding:  0.75rem 0 0.75rem 3rem;
  margin: 24px 0;
  margin:  1.5rem 0;
  border-left: 1px solid #333333;
}
/* line 114, ../../scss/ui/_typography.scss */
blockquote p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: italic;
}
/* line 118, ../../scss/ui/_typography.scss */
blockquote .source {
  font-size: inherit;
  font-style: normal;
  text-align: right;
}

/* line 125, ../../scss/ui/_typography.scss */
label {
  display: block;
}

/* line 129, ../../scss/ui/_typography.scss */
sup {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  bottom: .5ex;
}

/* line 137, ../../scss/ui/_typography.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid #333333;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 145, ../../scss/ui/_typography.scss */
a {
  text-decoration: none;
}
/* line 149, ../../scss/ui/_typography.scss */
a:link, a:visited {
  color: red;
}
/* line 153, ../../scss/ui/_typography.scss */
a:hover, a:active {
  color: blue;
}

/* line 158, ../../scss/ui/_typography.scss */
.error {
  color: red;
}

/* line 175, ../../scss/ui/_typography.scss */
.wf-loading p,
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading li,
.wf-loading dt,
.wf-loading dd,
.wf-loading td,
.wf-loading th,
.wf-loading small {
  visibility: hidden;
}

/* line 1, ../../scss/ui/_tables.scss */
table {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  width: 100%;
}

/* line 6, ../../scss/ui/_tables.scss */
th,
td {
  border: 1px solid #333333;
  text-align: left;
  font-family: "Helvetica Neue", sans-serif;
  padding: 6px;
  padding: 0.375rem;
}

/* line 13, ../../scss/ui/_tables.scss */
th {
  background: #cccccc;
}

/* line 5, ../../scss/ui/_forms.scss */
fieldset {
  overflow: hidden;
  *zoom: 1;
  padding: 24px 0;
  padding:  1.5rem 0;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  position: relative;
  display: block;
  border-bottom: 1px solid #333333;
}

/* line 18, ../../scss/ui/_forms.scss */
label.error,
legend.error {
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 24, ../../scss/ui/_forms.scss */
label.error.block,
legend.error.block {
  display: block;
}

/* line 28, ../../scss/ui/_forms.scss */
.field {
  clear: both;
  position: relative;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
}

/* line 48, ../../scss/ui/_forms.scss */
input[type="text"], textarea,
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="datetime-local"],
input[type="number"],
input[type="color"] {
  border: 1px solid #333333;
  display: block;
  outline: 0;
  width: 100%;
  font-family: Georgia, serif;
  padding: 6px 12px;
  padding:  0.375rem 0.75rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: none;
}
/* line 59, ../../scss/ui/_forms.scss */
input[type="text"].error, textarea.error,
input[type="email"].error,
input[type="tel"].error,
input[type="url"].error,
input[type="password"].error,
input[type="search"].error,
input[type="date"].error,
input[type="datetime"].error,
input[type="month"].error,
input[type="week"].error,
input[type="datetime-local"].error,
input[type="number"].error,
input[type="color"].error {
  border: 1px solid red;
  color: red;
}

/* line 65, ../../scss/ui/_forms.scss */
textarea {
  height: auto;
  min-height: 240px;
}

/* line 79, ../../scss/ui/_forms.scss */
button,
.button,
input[type="submit"],
a.button:link,
a.button:visited {
  padding: 6px 12px;
  padding:  0.375rem 0.75rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  border: 0;
  background: red;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}
/* line 91, ../../scss/ui/_forms.scss */
button.small,
.button.small,
input[type="submit"].small,
a.button:link.small,
a.button:visited.small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.42857;
  padding: 4px 8px;
  padding:  0.25rem 0.5rem;
}
/* line 95, ../../scss/ui/_forms.scss */
button.large,
.button.large,
input[type="submit"].large,
a.button:link.large,
a.button:visited.large {
  font-size: 30.006px;
  font-size: 1.87538rem;
  line-height: 1.33307;
  padding: 12px 24px;
  padding:  0.75rem 1.5rem;
}
/* line 100, ../../scss/ui/_forms.scss */
button.disabled,
.button.disabled,
input[type="submit"].disabled,
a.button:link.disabled,
a.button:visited.disabled {
  background: #cccccc;
  cursor: default;
}
/* line 105, ../../scss/ui/_forms.scss */
button.blue,
.button.blue,
input[type="submit"].blue,
a.button:link.blue,
a.button:visited.blue {
  background: blue;
}
/* line 109, ../../scss/ui/_forms.scss */
button.blue:hover, button.blue:active,
.button.blue:hover,
.button.blue:active,
input[type="submit"].blue:hover,
input[type="submit"].blue:active,
a.button:link.blue:hover,
a.button:link.blue:active,
a.button:visited.blue:hover,
a.button:visited.blue:active {
  background: red;
}

/* line 119, ../../scss/ui/_forms.scss */
button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:active,
a.button:hover,
a.button:active {
  background: blue;
}

/* line 123, ../../scss/ui/_forms.scss */
.button-group {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  position: relative;
  display: block;
}
/* line 129, ../../scss/ui/_forms.scss */
.button-group a.button {
  margin: 0;
  display: block;
  border-bottom: 1px solid white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 135, ../../scss/ui/_forms.scss */
.button-group a.button:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 139, ../../scss/ui/_forms.scss */
.button-group a.button:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 0;
}

/* line 147, ../../scss/ui/_forms.scss */
.button-groups {
  overflow: hidden;
  *zoom: 1;
  position: relative;
}

@media only screen and (min-width: 49em) {
  /* line 153, ../../scss/ui/_forms.scss */
  .button-groups .button-group {
    float: left;
    margin-right: 24px;
    margin-right: 1.5rem;
  }

  /* line 159, ../../scss/ui/_forms.scss */
  .button-group a.button {
    float: left;
    border-right: 1px solid white;
    border-bottom: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
  /* line 165, ../../scss/ui/_forms.scss */
  .button-group a.button:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  /* line 170, ../../scss/ui/_forms.scss */
  .button-group a.button:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: 0;
  }
}
/* line 1, ../../scss/ui/_callouts.scss */
.callout {
  overflow: hidden;
  *zoom: 1;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px;
  padding: 1.5rem;
  position: relative;
  background: #333333;
  color: white;
}
/* line 13, ../../scss/ui/_callouts.scss */
.callout > h2,
.callout > h3,
.callout > h4,
.callout > h5,
.callout > h6 {
  margin-top: 0;
}

/* line 3, ../../scss/ui/_animation.scss */
a,
button,
.logo {
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
}
