//Compass Imports
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/min";
@import "compass/css3";

//Power Moves: Sass Variables and mixins
@import "settings/variables";
@import "settings/mixins";


//Decent defaults
section {
        @include rem(padding, $line*3 0);
}
.header {
    background: $dark-grey;
    color:$white;
    @include rem(padding, $line 0);
}
.type-sample {
    p {
        @include font-size(36, 48);
        margin-bottom: $line*1.5;
        letter-spacing: 0.1em;
    }
}
.grids .container {

    hr {
        clear:both;
    }
    div {
        margin-bottom: $line;
        height: $line*10;
        float:left;
        @include wrap;

        span {
            display: block;
            width:100%;
            height: $line*10;
        }
    }
}





// Adjust Accordingly

// Type samples
.primary *{
    font-family: $sans;
}
.secondary *{
    font-family: $serif;
}

//Colour swatches
.swatch {
    @include rem(margin, $line/2);
    @include border-radius(500px);
    @include wrap;
    @include rem(padding, $line*3);
    position: relative;
    display: inline-block;
    text-indent: -99999px;
    width: 10px;
    height: 10px;
}
.color1 {
    background:$dark-grey;
}
.color2 {
    background: $blue;
}
.color3 {
    background: $red;
}

// Grids
.grids span {
    background:$grey;
}
.three {
    width:$c3;
}
.four {
    width:$c4;
}
.six {
    width:$c6;
}
.eight {
    width:$c8;
}
.twelve {
    width:$c12;
}
.sixteen {
    width:$c16;
}

.folding {
    &.six,
    &.twelve {
        display:none;
    }
    &.three {
        display: block !important;
        width:$c3;
    }
}

@media only screen and (min-width: $screenSmall) {
    .folding {
        &.twelve {
            display:none;
        }
        &.six {
            display: block;
            width:$c6;
        }
    }
}
@media only screen and (min-width: $screenMedium) {
    .folding {
        &.twelve {
            display:block;
            width:$c12;
        }
    }
}
