form {
  
}

label,
legend {

  &.error {
    display: none;
    position: absolute;
    left:0;
    bottom:0;
  
    &.block { display: block; }
  }
}

.field {
  clear:both;
  position:relative;
  @include wrap;
} 

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="datetime-local"],
input[type="number"],
input[type="color"] {
  border: $rule;
	display:block;
	outline:0;
  width:100%;

  &.error {

  }
}

textarea {
	@extend input[type="text"];
	height: auto;
  min-height: $line*10;
}

select {

}

button,
.button,
a.button:link,
a.button:visited {
  cursor: pointer;
  display: inline-block;
  font-family: $sans;
  text-align: center;
}
button:hover,
button:active,
a.button:hover,
a.button:active {

  }