//* =============================================================================
//   Default Colours
//   ========================================================================== */

$white: #ffffff;
$dark-grey:#424243;
$grey: #BABAAE;
$light-grey: #F3F3F1;
$red: #DE4927;
$blue: #9BC6D3;
$yellow: #F3C045;
$green: #7CB87D;

///* =============================================================================
//   Borders
//   ========================================================================== */

$solid: 1px solid $grey;

///* =============================================================================
//   Font Stacks
//   ========================================================================== */


$serif: "ff-tisa-web-pro", Georgia, serif;
$sans: "TrumpGothicEastMedium", "Helvetica Neue", sans-serif;
//$sans: "alternate-gothic-no-1-d", "Helvetica Neue", sans-serif;
$slab: "jubilat", Georgia, serif;


// FONT WEIGHTS 

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;


///* =============================================================================
//   Base Sizes
//   ========================================================================== */


$root-n: 16;
$line-n: 30;
$base: 18;

$root: $root-n * 1px;
$line: $line-n * 1px;
$em: $base * 1;
$column: 100% / 14;


///* =============================================================================
//   Grid
//   ========================================================================== */


//Three Columns
$c3: 100% / 3;
//Four Columns
$c4: 100% / 4;

//Eight Columns
$c6: 100% / 6;

//Sixteen Columns
$c12: 100 / 12;



///* =============================================================================
//   Breakpoints
//   ========================================================================== */

$screenSmall: 49em !default;
$screenMedium: 80em !default;
$screenLarge: 112em !default;
$screenXlarge: 150em !default;