//Typographic scale
//http://modularscale.com/

body {
    font-family: $serif;
    color: $dark-grey;
    @include font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans;
}

h1 {
    @include font-size(60, $line-n*3);
}
h2 {
    @include font-size(48, $line-n*2.5);
}
h3 {
    @include font-size(36, $line-n*2);
}
h4 {
    @include font-size(30, $line-n*1.5);
}
h5 {
    @include font-size(24, $line-n*1.25);
}
h6 {
    @include font-size(18, $line-n);
}

p {
    @include hyphens;
    @include rem(margin,0 0 $line/2 0);
}

.content {
    @include rem(margin-bottom, $line);

    p {
        margin-bottom: 0;
    }
}


.lead {
    @include font-size(24, $line-n*1.5);
    @include rem(margin-bottom, $line/2);
}
p + p {
    text-indent: 2em;
}
br + p {
    @include rem(margin-bottom, $line);
}
br + p + p,
.lead + p {
    text-indent: 0;
}

strong {
    font-weight: $bold;
}
em {
    font-style: italic;
}
abbr {
    cursor: help;

    &.acr {
        @include font-size(14, $line-n);
    }
}
.amp {
    font-style: italic;
}
small {
    @include font-size(14, $line-n/1.5);
}

figcaption {
    @include font-size(14, $line-n);

    .source {
        float:right;
    }
}

ul,
ol,
dd {
    padding:0;
    @include rem(margin, 0 0 $line 0);


    ul,
    ol {
        margin-left:2em;
        margin-bottom: 0;
    }
}
dt {
    font-weight: $bold;
}

nav {
    ul {
        list-style: none;
    }
}

blockquote {
    @include wrap;
    @include rem(padding, $line/2 0 $line/2 $line*2);
    @include rem(margin, $line 0);
    border-left:$rule;

    p {
        @include font-size(24, $line-n*1.5);
        font-style: italic;
        margin-bottom: 0;
    }
    .source {
        font-size: inherit;
        font-style: normal;
        text-align: right;
    }
}


label {
    display: block;
}

sup {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
    bottom: .5ex;
}

hr {
    border: 0;
    height: 0;
    border-top: $rule;
    @include rem(margin-top, $line);
    @include rem(margin-bottom, $line);
}

.error {
    color:$red;
}

.wf-loading {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    dt,
    dd,
    td,
    th,
    small {
        visibility: hidden;
    }
}