html {
    font-size: 85%;
    min-height: 100%;
    overflow-y:scroll;
}
section {
    @extend .group;
    position: relative;
}
.container {
    margin:0 $margin;
}

@media only screen and (min-width: $screenSmall) {
    html {
        font-size: 100%;
    }
}

@media only screen and (min-width: $screenXlarge) {
    html {
        font-size: 115%;
    }
}